.simply-countdown {
    overflow: hidden;
    display: table;
    font-family: 'Work Sans', sans-serif;
    margin: auto;
}

.simply-countdown > .simply-section {
    width: 100px;
    height: 100px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
    background: #fff;
    background: var(--pink);
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.12), 0 1px 2px rgb(0 0 0 / 0.24);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Hexagon shape */
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
    display: block;
    text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
    font-size: 1.6rem;
}
